body {
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

body, html {
	height: 100%;
}

a {
    color: #2677FF;
}

a:hover {
    color: #333;
}
a[disabled] {
    color: gray;
    cursor: default;
}
input[type="text"],
input[type="password"] {
    background: white;
    border: 1px solid #BFE6FF;
    padding: 2px;
    font-size: 14px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #1057FF;
}

input[type="submit"] {
    background: #1057FF;
    border: 1px solid #073BFF;
    padding: 1px 3px;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
}

div.page div.navigation {
    padding: 4px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #eee;
    color: #888;
    font-size: 12px;
    letter-spacing: 0.5px;
}

div.page div.footer {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    font-size: 12px;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

div.info {
    margin: 10px 0;
    background: #FAFFE4;
    border: 1px solid green;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

div.header {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

span.headline {
    font-size: 20px;
    font-weight: bold;
}

div.home, div.chat {
	height: 100%;
}

div.chat {
    overflow: hidden;
    margin: 0px;
}

div.chatbar {
    padding: 20px;
}

h1.home-title {
	margin-top: 0px;
}

.home-message {
	width: 100%;
	text-align: center;
}

div.content {
	width: 600px;
}

div.selection-content {
	width: 300px;
}

div.logo {
	width: 100%;
	height: 100%;
}

div.logo-content {
    margin-bottom: 20px;
}

div.chat-logo-content img {
    height: 50px;
}

div.login-form {
	width: 400px;
}

div.list-form {
    width: 600px;
}

form.home-form, form.message-form {
	width: 100%;
}

div.messages {
	width: 100%;
    height: 400px;
    overflow-y: scroll;
    padding: 20px;
}

input{
  text-indent: 10px;
  margin-bottom: 10px;
}

.btn {
	margin-top: 20px;
}

.btn a {
	color: #FFFFFF;
}

a:hover {
	text-decoration: none;
}

.navbar {
	margin-bottom: 0px;
	padding: 15px;
}

.navbar-header {
	width: 100%;
	margin-bottom: 0px;
}

.navbar-default {
	margin-bottom: 20px;
}

.panel {
	margin: 0px 0px 20px 0px;
}

.navigation {
	margin-bottom: 20px;
}

.primary {
	background: #337ab7;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;	
}

.margin-10 {
	margin: 10px;
}

.padding-5 {
	padding: 5px;
}

.padding-10 {
	padding: 10px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.signin-text {
	font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.transparent {
	background: transparent;
}

.shadow {
   -moz-box-shadow: inset 0 0 4px #888888;
   -webkit-box-shadow: inset 0 0 4px #888888;
   box-shadow: inset 0 0 4px #888888;
}

.border-radius {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.page {
	height: 100%;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}